QWidget {
    color: white;
    background-color: black;
	font: 16pt "Segoe UI Emoji";
}

QMenuBar {
    font-size: 10pt;
}

QMenuBar::item:selected {
    color: white;
    background-color: #0F1EC6;
}

QMenu {
    font-size: 10pt;
}

QMenu::item:selected{
    color: white;
    background-color: #0F1EC6;
}