<?xml version="1.0" encoding="UTF-8"?>
<TextEditorSettings>
    <window_size>480x360</window_size>
    <window_icon>icon.png</window_icon>
    <current_theme type="int">0</current_theme>
    <theme>_white_</theme>
    <theme>_black_</theme>
    <plugin>notebook-plugin</plugin>
</TextEditorSettings>
